<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @orden.numero %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @orden.fecha %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @orden.cliente %>
</p>

<p>
  <strong>References:</strong>
  <%= @orden.references %>
</p>

<%= link_to 'Edit', edit_orden_path(@orden) %> |
<%= link_to 'Back', ordens_path %>
