<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalle_orden.cantidad %>
</p>

<p>
  <strong>Precioventa:</strong>
  <%= @detalle_orden.precioventa %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @detalle_orden.producto %>
</p>

<p>
  <strong>References:</strong>
  <%= @detalle_orden.references %>
</p>

<%= link_to 'Edit', edit_detalle_orden_path(@detalle_orden) %> |
<%= link_to 'Back', detalle_ordens_path %>
